<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Admin - Edit Variables</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    
    <div class="titleDiv">
        <h1>Edit Discount Variables</h1>
    </div>

    <div class="container">
        <form action="/admin/update" method="POST">
        <% variables.forEach((variable, index) => { %>
            <div class="variable">
            <input type="hidden" name="id" value="<%= variable.id %>">
            <input type="hidden" name="variableName" value="<%= variable.variableName %>">
            
            <label><%= variable.variableName %></label>
            <input type="number" name="Amount" value="<%= variable.Amount %>" step="0.01">
            </div>
        <% }) %>
        <div class="button-group">  
                <a href="/" class="secondary-button">Return</a>
                <button type="submit">Submit</button>
    </div>
</form>
</body>
</html>