<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Calculation Result</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <div class="calcDiv">
    <form action="/calculate" method="POST">

      <label for="price">Price:</label>
      <input type="number" name="price" required />

      <label for="amount">Amount</label>
      <input type="number" name="amount" required />

      <button type="submit">Submit</button>


    </form>
  </div>
</body>
</html>
