<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Subscription Calculator</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <div class="indexContainer">

    <form action="/form" method="GET">
      <button type="submit">Application Form</button>
    </form>

    <form action="/calculator" method="GET">
      <button type="submit">Subscription Calculator</button>
    </form>

    <form action="/admin" method="GET">
      <button type="submit">Admin view</button>
    </form>
  </div>
</body>
</html>
