<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/styles.css">
  <title>Calculation Result</title>
</head>
<body>
  <div class="resultDiv">
    <h1>Calculation Result</h1>
    <p>Email: <%= email %></p>
    <p>Name: <%= name %></p>
    <p>Original Amount: <%= amount %></p>
    <p>Multiplied Amount: <%= multipliedAmount %></p>
    <a href="/">Back</a>
  </div>
</body>
</html>
