<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Calculation Result</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>

    <div class="resultDiv">
        <h1>Calculation Result</h1>
        <p>Unit Price: <%= price %></p>
        <p>Quantity: <%= amount %></p>
        <p>Discount (DB): <%= multi %>%</p>
        <p>Total: <%= multipliedAmount %></p>    
    </div>

        <form action="/" method="GET">
        <button class="secondary-button" type="submit">Return</button>
        </form>
</body>
</html>
