<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thank You</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container resultDiv">
    <h1>Thank You!</h1>
    <p>Dear <strong><%= ordererName %></strong>, your order for <strong><%= customerCompany %></strong> has been successfully submitted.</p>
     <p>A summary of the customer information has been sent to  <strong><%= ordererEmail %></strong> and another copy to our system email.</p> 
      <p>Remember to check your spam folder!</p>
    <a href="/">Return to Home</a>
  </div>
</body>
</html>
